# Robot IP on your Wi-Fi/LAN
ROBOT_IP=192.168.X.X

# ROS1 master is usually on the robot
ROS_MASTER_URI=http://192.168.X.X:11311

# Your laptop/WSL IP (fill in at runtime or paste a fixed one)
ROS_IP=192.168.Y.Y
somethijng