# Laptop on robot hotspot
QT_X11_NO_MITSHM=1
ROS_MASTER_URI=http://10.42.0.1:11311
ROS_IP=10.42.0.38      # replace with your laptop’s hotspot IP
STRETCH_DEV=/dev/ttyACM0
LIDAR_DEV=/dev/ttyUSB0

## Laptop on LAN
# QT_X11_NO_MITSHM=1
# ROS_MASTER_URI=http://130.233.123.111:11311
# ROS_IP=130.233.123.56  # replace with your laptop’s LAN IP
# STRETCH_DEV=/dev/ttyACM0
# LIDAR_DEV=/dev/ttyUSB0
